# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.bundleasset.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\olesgedz\Documents\bundleasset\.idea\.idea.bundleasset\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
